@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p><b>Student:</b> @ViewData["Student"]</p>
<p><b>Written by:</b> <a href="mailto:@ViewData["Email"]">William Gabriel</a></p>
